## Step 1. Identify datasets

### TODO: 
- Explain why the selected datasets are particularly interesting to you. **Max points: 1**.
- If you cross reference multiple datasets, please explain your reasoning. **Max points: 2**.

**Description**

Attention: this data is not updated after 2022 anymore. This data collection contains information concerning all accidents by snow avalanches causing at least one fatality in Switzerland. The data set commences on 01/10/1995. After the completion of a hydrological year, the new data is added. The following information is provided:

- **avalanche.id** = avalanche identifier  
- **date** = date of the accident (YYYY-MM-DD)
- **date.quality** = accuracy of the date in range of days before and after
- **hydrological.year** = 12-month period from 1 October to 30 September
- **canton** = Cantons of Switzerland (Member states of the Swiss Confederation)
- **local.name** = name of the locality  
- **start.zone.coordinates.x/y** = start zone of the avalanche (Swiss coordinate system, approximately in the middle of start zone)  
- **coordinates.quality** = accuracy of the coordinates in meters  
- **start.zone.elevation** = elevation (in meters above sea level, approximately in the middle of start zone)  
- **start.zone.slope.aspect** = slope aspect (main orientation of start zone)  
- **start.zone.inclination** = slope inclination (in degree, steepest point within start zone)  
- **forecasted.dangerlevel** = forecasted avalanche danger level (1-5)  
- **number.dead** = number of dead persons  
- **number.caught** = number of caught persons  
- **number.fully.buried** = number of fully buried persons  
- **activity** = activity/location of the accident party at the time of the incident

## Step 2. Visualize data

TODO:
- Analyze your selected datasets by creating visualizations and computing descriptive
 statistics. This step provides an initial understanding of the data and its characteristics.
 **Max points: 5**.
- Clearly explain the reasons for choosing these analyses. **Max points: 3**.
- Explain what you observe from data. **Max points: 3**.

In [5]:
import pandas as pd
avalanches = pd.read_csv('datasets/AvalanchesSwitzerland/avalanche_accidents_switzerland_since_1995.csv', encoding='Windows-1252')
# length: 455  width: 17
avalanches

,avalanche.id,date,date.quality,hydrological.year,canton,local.name,start.zone.coordinates.x,start.zone.coordinates.y,coordinates.quality,start.zone.elevation,start.zone.slope.aspect,start.zone.inclination,forecasted.dangerlevel,number.dead,number.caught,number.fully.buried,activity
0,13007,1995-12-25,0,1995/96,VS,Chetseron / Vallon de l`Ertentse,602380,131230,25,2060,NW,NaN,NaN,2,2,0,offpiste
1,13014,1995-12-28,0,1995/96,VS,Verbier / Les Ruinettes,586070,104160,25,2340,NNE,39.0,NaN,1,1,1,offpiste
2,13028,1996-01-14,0,1995/96,GR,Chilchalphorn,731720,155110,25,2960,E,35.0,NaN,1,4,2,tour
3,13038,1996-02-14,0,1995/96,VD,La Lécherette,575300,141010,25,1580,NNW,42.0,NaN,1,2,1,offpiste
4,13040,1996-02-15,0,1995/96,OW,Pilatus / Matthorn / Ruessiflue,661640,202180,25,1860,NW,40.0,NaN,1,4,3,tour
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
450,26194,2021-03-23,0,2020/21,VS,Dôme / Glacier du Besso,617440,101955,25,3455,W,48.0,3.0,1,4,1,tour
451,26195,2021-03-23,0,2020/21,UR,Gemssstock - Unteralptal,690880,163870,25,2090,NE,NaN,3.0,2,3,2,offpiste
452,26249,2021-05-14,0,2020/21,GR,Tödi Westflanke,712645,185401,25,3570,WSW,48.0,2.0,2,2,1,tour
453,26257,2021-06-13,0,2020/21,VS,Le Giétro / Lac de Mauvoisin,595540,92250,25,3370,NW,48.0,NaN,1,1,1,tour
454,26259,2021-03-13,0,2020/21,VS,Rothorn,615830,121440,25,2970,NE,NaN,2.0,1,1,1,tour

In [35]:
avalanches[['coordinates.quality', 'start.zone.elevation', 'start.zone.inclination', 'forecasted.dangerlevel', 'number.dead', 'number.caught', 'number.fully.buried']].describe()

,coordinates.quality,start.zone.elevation,start.zone.inclination,forecasted.dangerlevel,number.dead,number.caught,number.fully.buried
count,455.000000,455.000000,330.000000,387.000000,455.000000,455.000000,455.000000
mean,47.527473,2514.936264,40.587879,2.728682,1.259341,2.178022,1.334066
std,84.564099,536.316707,4.874084,0.620278,0.781670,1.931982,1.219538
min,25.000000,725.000000,23.000000,1.000000,1.000000,1.000000,0.000000
25%,25.000000,2150.000000,37.000000,2.000000,1.000000,1.000000,1.000000
50%,25.000000,2470.000000,40.000000,3.000000,1.000000,2.000000,1.000000
75%,25.000000,2820.000000,43.000000,3.000000,1.000000,3.000000,1.000000
max,1000.000000,4220.000000,55.000000,5.000000,9.000000,17.000000,12.000000

In [30]:
avalanches.columns

Index(['avalanche.id', 'date', 'date.quality', 'hydrological.year', 'canton',
       'local.name', 'start.zone.coordinates.x', 'start.zone.coordinates.y',
       'coordinates.quality', 'start.zone.elevation',
       'start.zone.slope.aspect', 'start.zone.inclination',
       'forecasted.dangerlevel', 'number.dead', 'number.caught',
       'number.fully.buried', 'activity'],
      dtype='object')